/* src/app/globals.css */
@import "tailwindcss";

/* Así es como se añaden plugins en Tailwind v4 */
@plugin "@tailwindcss/typography";


@layer base {
  body {
    cursor: default;
  }
}

/* Solo para dispositivos que usan puntero */
@media (pointer: fine) {
  .cursor-glow {
    width: 400px;
    height: 400px;
    background: radial-gradient(circle, rgba(59, 130, 246, 0.07) 0%, transparent 70%);
    pointer-events: none;
    position: fixed;
    border-radius: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
